################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SafeStashAdminPortalAPI/FileContentIndex/5653f569-7ede-4630-a2da-769ba92f9f94.vsidx
/.vs/SafeStashAdminPortalAPI/FileContentIndex/5dcee18c-5429-4dca-ac98-6ce568c4a423.vsidx
/.vs/SafeStashAdminPortalAPI/FileContentIndex/8b338cf4-2a5b-4bc6-8024-6a5a08b522a6.vsidx
/.vs/SafeStashAdminPortalAPI/FileContentIndex/965d7f6c-0a61-4d0a-a5fa-631c96be8c58.vsidx
/.vs/SafeStashAdminPortalAPI/FileContentIndex/e2e2c3b2-5fa4-47cf-937d-c48666c5978c.vsidx
/.vs/SafeStashAdminPortalAPI/v17/.futdcache.v2
/.vs/SafeStashAdminPortalAPI/v17/.suo
/.vs/SafeStashAdminPortalAPI/v17/DocumentLayout.json
/bin/Debug/net8.0/SafeStashAdminPortalAPI.dll
/bin/Debug/net8.0/SafeStashAdminPortalAPI.exe
/bin/Debug/net8.0/SafeStashAdminPortalAPI.pdb
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/ref/SafeStashAdminPortalAPI.dll
/obj/Debug/net8.0/refint/SafeStashAdminPortalAPI.dll
/obj/Debug/net8.0/SafeStashAdminPortalAPI.AssemblyInfoInputs.cache
/obj/Debug/net8.0/SafeStashAdminPortalAPI.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/SafeStashAdminPortalAPI.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/SafeStashAdminPortalAPI.dll
/obj/Debug/net8.0/SafeStashAdminPortalAPI.pdb
/obj/Debug/net8.0/SafeStashAdminPortalAPI.sourcelink.json
/obj/Release/net8.0/SafeStashAdminPortalAPI.AssemblyInfoInputs.cache
/obj/Release/net8.0/SafeStashAdminPortalAPI.assets.cache
/obj/Release/net8.0/SafeStashAdminPortalAPI.csproj.AssemblyReference.cache
/obj/Release/net8.0/SafeStashAdminPortalAPI.GeneratedMSBuildEditorConfig.editorconfig
